page-profile {

	.content {
		background-image: url('../assets/img/back_register.jpg');
		background-size:100% 100%;
	}

	.user-info-container {
		height: 170px;
		padding: 20px 5px;
		background-color:color($colors, transparent);
	}
	
	.user-info-container img {
		width:120px;
		height: 120px;
		border-radius:50%;
		margin-bottom:5px;
		margin-top:10px;
	}

	.item {
		background-color:transparent;
	}

	.label, div, h1 {
		color:white !important;
	}
}
