page-town-template {

	.item-inner {
		padding:0;
	}

	.label {
		margin-right:0;
	}

	button {
		box-shadow:none !important;
	}
	
	.gallery-container {
		text-align:right;
	}

	.gallery-container img {
		height:40px;
	}

	.more-margin {
		margin-bottom: 1rem;
	}
}
